
body { background-color: #eeeeee; }

h1 { padding: unset; margin: unset; }

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        .product img {
            width: 680px;
        }
    }
}


.bg-ml { background-color: #FFE600; }
.bg-light-grey { color: #eeeeee; }

.btn-light-grey{
    color: #292b2c;
    background-color: #eeeeee;
    border-color: #ccc;
    cursor: pointer;
}

.btn-blue { 
    background-color: #3483FA;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
}

.def-ml { color: #FFE600; }
.black-ml { color: #333333; }
.heavy-grey { color: #666666; }
.medium-grey { color: #999999; }
.light-grey { color: #eeeeee; }
.blue-ml { color: #3483FA; }



.mt-ml { margin-top: 16px; }
.mt-2-ml { margin-top: 32px; }

.mb-ml { margin-bottom: 16px; }
.mb-2-ml { margin-bottom: 32px; }

.ml-ml { margin-left: 16px; }
.ml-2-ml { margin-left: 32px; }

.mr-ml { margin-right: 16px; }
.mr-2-ml { margin-right: 32px; }

.pt-ml { padding-top: 16px; }
.pt-2-ml { padding-top: 32px; }

.pb-ml { padding-bottom: 16px; }
.pb-2-ml { padding-bottom: 32px; }

.pl-ml { padding-left: 16px; }
.pl-2-ml { padding-left: 32px; }

.pr-ml { padding-right: 16px; }
.pr-2-ml { padding-right: 32px; }

/* forms */

.input-group .form-control, .input-group .btn { border: 0 }

.breadcrumb {
    padding: 16px 0;
    list-style: none;
    font-size: 14px;
    li {
        float: left;
        &:last-child {
            font-weight: bold;
            &::after {
                content: " ";
            }
        }
        &::after {
            content: " > ";
            margin-right: 10px;
        }
    }
}

.wbox {
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input.search {
    font-size: 18px;
}

.product {
    .seller { font-size: 14px; }
    .name { font-size: 24px; }
    .price { font-size: 46px; }
    .description-title { font-size: 28px; }
    .description { font-size: 16px; }
}